<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/header') %>

    <div class="container" style="margin-top: 80px !important">
      <div class="row justify-content-md-center mb-5">
        <div class="col-md-12 mt-5">
          <h2 class="text-center title">
            Crud Completo con NodeJS, Express y MySQL
            <hr />
          </h2>
        </div>
      </div>

      <div class="row justify-content-md-center mb-5">
        <div class="col-md-4 mb-5">
          <h3 class="text-center">
            Registrar Estudiante
            <hr />
          </h3>
          <form action="/estudiantes" method="POST">
            <div class="mb-3">
              <label for="nombre_alumno" class="form-label"> Alumno </label>
              <input type="text" name="nombre_alumno" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="email_alumno" class="form-label"> Email </label>
              <input type="email" name="email_alumno" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="curso_alumno">Curso</label>
              <select name="curso_alumno" class="form-select">
                <option value="">Seleccionar el curso</option>
                <option value="Python">Python</option>
                <option value="NodeJS">NodeJS</option>
                <option value="PHP">PHP</option>
                <option value="JavaScript">JavaScript</option>
              </select>
            </div>

            <div class="d-grid gap-2 col-12 mx-auto mt-4 mb-4">
              <button class="btn btn-primary" type="submit">
                Registrar Estudiante
              </button>
            </div>
          </form>
        </div>

        <div class="col-md-8 py-3 custom_table">
          <h3 class="text-center">
            Lista de Estudiantes
            <hr />
          </h3>

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Alumno</th>
                  <th>Email Alumno</th>
                  <th>Curso del Alumno</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% let contador = 1; %>
                <!---->
                <% estudiantes.forEach(function(estudiante) { %>
                <tr>
                  <th scope="row"><%= contador %></th>
                  <td><%= estudiante.nombre_alumno %></td>
                  <td><%= estudiante.email_alumno %></td>
                  <td><%= estudiante.curso_alumno %></td>
                  <td>
                    <span style="display: flex; justify-content: space-between">
                      <!-- Corregir el uso de la variable en la URL del enlace -->
                      <a
                        class="btn btn-info info_especial"
                        href="/detalles/<%= estudiante.id_estudiante %>"
                        title="Ver Detalles del Estudiante">
                        <i class="bi bi-person-bounding-box"></i>
                      </a>
                      <a
                        class="btn btn-success success_especial"
                        title="Editar datos del Estudiante"
                        href="/formulario-actualizar-estudiante/<%= estudiante.id_estudiante %>">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <form
                        action="/borrar-estudiante/<%= estudiante.id_estudiante %>"
                        method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button type="submit" class="btn btn-danger">
                          <i class="bi bi-trash"></i>
                          Eliminar
                        </button>
                      </form>
                    </span>
                  </td>
                </tr>
                <% contador++; %>
                <!---->
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <%- include('../includes/scripts') %>
  </body>
</html>
